    <div class="col">
      <div class="card">
        <div class="card-header">
          <%= comment.post_id %>
        </div>
        <div class="card-body">
          <p class="card-text"><%= comment.body %></p>
          <small class="text-muted"><%= time_ago_in_words(comment.created_at) unless comment.created_at.blank? %></small>
        </div>
      </div>
    </div>