    <div class="col">
      <div class="card">
        <div class="card-header">
          <%= link_to comment.user.email, comment.user%>
          <small class="text-muted">replied to <%= link_to comment.post.user.email, comment.user%>'s post</small>
        </div>
        <div class="card-body">
          <p class="card-text"><%= comment.body %></p>
          <small class="text-muted"><%= time_ago_in_words(comment.created_at) unless comment.created_at.blank? %> ago
          </small>
        </div>
      </div>
    </div>