<% if flash[:notice] %>
<div class="alert alert-success">
	<p><strong><%= notice %></strong></p>
</div>
<% end %>
<% if flash[:alert] %>
<div class="alert alert-danger">
	<p><strong><%= alert %></strong></p>
</div>
<% end %>