<header>
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active" style="background-image: url('https://images8.alphacoders.com/679/679478.jpg')">
				<div class="carousel-caption d-none d-md-block">
					<h3>Welcome to SocialZ</h3>
					<p>This is a social network for Zuccante's students.</p>
				</div>
			</div>
			<div class="carousel-item" style="background-image: url('https://wallpapermemory.com/uploads/681/firewatch-background-dual-screen-3200x1024-468007.jpg')">
				<div class="carousel-caption d-none d-md-block">
					<h3>Upload images</h3>
					<p>Here you can upload images about your school.</p>
				</div>
			</div>
			<div class="carousel-item" style="background: url('https://i.imgur.com/e1ut4lp.jpg');">
				<div class="carousel-caption d-none d-md-block">
					<h3>Have fan</h3>
					<p>Enjoy the socialnetwork with <%= pluralize(Post.all.count, "post")%> from <%= pluralize(User.all.count, "user")%></p>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</header>

<!-- Page Content -->
<section class="py-5">
	<div class="container">
		<code>made in</code>
		<h1 class="jumbotron-heading">
			<code>
				Ruby on Rails!
			</code>
		</h1>
		<div class="row text-center">
			<div class="col">
				<%= link_to 'Sign in', new_user_session_path, :class => "btn btn-outline-primary btn-block" %>
			</div>
			<div class="col">
				<%= link_to 'Sign up', new_user_registration_path, :class => "btn btn-outline-success btn-block" %>
			</div>
		</div>
</section>
